{{- $placeholderPattern := `\[[A-Za-z][^<>\[\]\r\n]*\]` -}}
{{- $placeholderCount := len (findRE $placeholderPattern .Content) -}}
{{- $openTaskCount := 0 -}}
{{- if eq .Params.category "maintenance" -}}
  {{- $openTaskCount = len (findRE `(?m)^\s*[-*+] \[ \]` .RawContent) -}}
{{- end -}}
{{- if or (gt $placeholderCount 0) (gt $openTaskCount 0) }}
<p class="completion-status" aria-label="Completion status">
  {{- if gt $placeholderCount 0 }}
    <span data-has-placeholders="true">I have not filled in all the highlighted details on this page yet.</span>
  {{- end }}
  {{- if gt $openTaskCount 0 }}
    <span>{{ $openTaskCount }} open preparation {{ if eq $openTaskCount 1 }}task{{ else }}tasks{{ end }}</span>
  {{- end }}
</p>
{{- end -}}
