{{- $content := partial "render-content.html" . -}}
{{- $prefix := "start-here" -}}
{{- if not .IsHome -}}{{- $prefix = .File.ContentBaseName -}}{{- end -}}
{{- $content = replaceRE `id="` (printf `id="%s-` $prefix) $content -}}
{{- $content = replaceRE `<(/?)h5([ >])` `<${1}h6${2}` $content -}}
{{- $content = replaceRE `<(/?)h4([ >])` `<${1}h5${2}` $content -}}
{{- $content = replaceRE `<(/?)h3([ >])` `<${1}h4${2}` $content -}}
{{- $content = replaceRE `<(/?)h2([ >])` `<${1}h3${2}` $content -}}
{{- $content | safeHTML -}}
